html {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 16px;
    /*background-color: #444444;*/
    /*!!!!!!!!!!!!!!!!!!!  НЕ УДАЛЯТЬ  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    /*line-height: 1.5;*/
    /*margin-top: -15px;*/
    /*height: 100vh;*/
    /*justify-content: center;*/
}

body {
    width: auto;
    background-image: url(../IMG/Background/contacts.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #444444;
}

.nav {
    display: grid;
    grid-template-rows: repeat(1, 100px);
    grid-template-columns: repeat(3, 180px);
    grid-column-gap: 5px;
    width: 550px;
    height: 99px;
    align-items: center;
}

.nav .navlink {
    color: rgb(255, 251, 251);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 150px;
    border: 3px solid white;
    border-radius: 50px;
}

.nav .navlink:hover {
    color: red;
    transition: 2s ease-out;
}

.footer {
    width: 100%;
    height: 5vh;
    align-content: center;
    background-color: #444444;
    margin-top: -16px;
}


body .headh1 {
    color: yellow;
    font-size: 60px;
    letter-spacing: 10px;
    justify-self: center;
    display: flex;
    width: auto;
    justify-content: center;
    height:auto;;
    /*background-image: url(../IMG/Background/contacts.png);
    background-repeat: no-repeat;
    background-size: cover;*/
}

.contacts {
    width: 100%;
    height: 69.3vh;
    background-image: url(../IMG/Background/contacts.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}




.div1{
    height:600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(5, 100px);
    align-items: center;
    justify-items: center;
    grid-row-gap: 5px;
}

div .img{
    width: 80px;
    height:80px;
}

.div1 a{
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.div1 a:hover{
    color: yellow;
    transition: 1s ease-out;
    text-decoration: underline;
}

.div2{
    height:600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(4, 100px);
    align-items: center;
    justify-items: center;
    grid-row-gap: 5px;
    
}

.div2 p{
    font-size: 40px;
    color: white;
}

.div3{
    display: flex;
    width:600px;
    height:600px;
    align-items: top;
    justify-content: center;
    font-size: 35px;
}

@media (min-width:500px) and (max-width:1300px)
{
    html {
        font-family: "PT Sans Caption", sans-serif;
        font-size: 16px;
        /*background-color: #444444;*/
        /*!!!!!!!!!!!!!!!!!!!  НЕ УДАЛЯТЬ  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
        /*line-height: 1.5;*/
        /*margin-top: -15px;*/
        /*height: 100vh;*/
        /*justify-content: center;*/
    }
    
    body {
        width: auto;
        background-image: url(../IMG/Background/contacts.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        background-color: #444444;
    }
    
    .nav {
        display: grid;
        grid-template-rows: repeat(1, 100px);
        grid-template-columns: repeat(3, 180px);
        grid-column-gap: 5px;
        width: 550px;
        height: 99px;
        align-items: center;
    }
    
    .nav .navlink {
        color: rgb(255, 251, 251);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 150px;
        border: 3px solid white;
        border-radius: 50px;
    }
    
    .nav .navlink:hover {
        color: red;
        transition: 2s ease-out;
    }
    
    .footer {
        width: 100%;
        height: 5vh;
        align-content: center;
        background-color: #444444;
        margin-top: -16px;
    }
    
    
    body .headh1 {
        color: yellow;
        font-size: 60px;
        letter-spacing: 10px;
        justify-self: center;
        display: flex;
        width: auto;
        justify-content: center;
        height:auto;;
        /*background-image: url(../IMG/Background/contacts.png);
        background-repeat: no-repeat;
        background-size: cover;*/
    }


    .contacts {
        width: 100%;
        height: auto;
        background-image: url(../IMG/Background/contacts.png);
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        display: grid;
        /*grid-template-columns:1;
        grid-template-rows: repeat(3, 500px);
        justify-items: center;*/
        grid-template-areas: "1"
                             "2"
                             "3";
        grid-template-rows: 100%; 
        align-items: center;
        justify-items: center;
    }

div{
    margin-top:50px;
}
.div1{
    grid-area:1;
    height:500px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(5, 100px);
    align-items: center;
    justify-items: center;
    grid-row-gap: 5px;
}

div .img{
    width: 80px;
    height:80px;
}

.div1 a{
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.div1 a:hover{
    color: yellow;
    transition: 1s ease-out;
    text-decoration: underline;
}

.div2{
    grid-area:2;
    height:500px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(4, 100px);
    align-items: center;
    justify-items: center;
    grid-row-gap: 5px;
    
}

.div2 p{
    font-size: 40px;
    color: white;
}

.div3{
    grid-area:3;
    display: flex;
    width: 100vw;
    height:500px;
    align-items: top;
    justify-content: center;
    font-size: 35px;
}




}