html {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 16px;
    background-color: #444444;
    /*line-height: 1.5;*/
    /*margin-top: -15px;*/
    /*height: 100vh;*/
    /*justify-content: center;*/
}


/* ------------------------------


                                        HEADER 


                        ---------------------------------*/

#body {
    width: 100%;
    /*display: grid;
    grid-template-rows: repeat(3)*/
}

#header {
    /*margin-top: 10px;*/
    width: 100%;
    /*height: 50px;*/
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 15px;
    background-color: #444444;
    /*margin-bottom: -20px;*/
}


.ulnav {
    width: 600px;
    height: 90px;
    display: flex;
    align-content: center;
    justify-items: right;
    margin-top: 15px;
    /*margin-left: 60%;*/
}

.ulnav .navli {
    width: 150px;
    display: flex;
    float: right;
    height: 50px;
    border: 3px solid;
    border-radius: 50px;
    border-color: white;
    padding-top: 15px;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
    font-family: Merriweather, serif;
    font-size: 20px;
    line-height: 1.5;
}

.navli .navlink {
    color: rgb(255, 251, 251);
    text-decoration-line: none;
}

.navli
/*.navlink*/

 :hover {
    color: red;
    transition: 0.5s ease-out;
}

#main {
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    /*grid-template-rows: repeat(auto-fit)*/
}

#firstP {
    background-image: url(../IMG/aboutmecover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    color: white;
    align-items: center;
    justify-items: center;
    height: 100vh;
    display: flex;
    /* width: 100%;*/
    /*margin-bottom: 0%;*/
}

.name {
    /*font-size: 45px;*/
    margin-left: 20px;
}

.name .aboutme {
    font-size: 40px;
    color: white;
    text-decoration-line: none;
    /*margin-left: 20px;*/
}

.aboutme:hover {
    text-decoration-line: underline;
    color: coral;
    transition: 1s ease-out;
}

#firstP .myfoto {
    float: right;
    width: 250px;
    height: 250px;
    font-size: 40px;
    color: white;
    text-decoration-line: none;
    margin-left: 20px
}

#secondP {
    background-image: url(../IMG/resumecover.jpg);
    opacity: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    justify-content: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    /*margin-bottom: 0%;*/
    /*width: 100%;*/
}


/*.wrap {
    margin-left: 20px;
    height: 300px;
    display: grid;
    grid-column: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}*/

.myCV {
    font-size: 40px;
    color: white;
    text-decoration-line: none;
    margin-left: 20px
}

.myCV:hover {
    text-decoration-line: underline;
    color: coral;
    transition: 1s ease-out;
}

#secondP .myfoto {
    float: right;
    width: 250px;
    height: 250px;
}

#thirdP {
    background-image: url(../IMG/resumecover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    justify-content: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-items: center;
    /*width: 100%;*/
    /*margin-bottom: 0%;*/
}

#thirdP .mygallery {
    float: right;
    width: 250px;
    height: 250px;
}

.myworks {
    margin-left: 20px;
}

.gallery {
    font-size: 40px;
    color: white;
    text-decoration-line: none;
    margin-left: 20px
}

.gallery:hover {
    text-decoration-line: underline;
    color: coral;
    transition: 1s ease-out;
}

#forthP {
    background-image: url(../IMG/resumecover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    justify-content: center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-items: center;
    /*width: 100%;*/
    /*margin-bottom: 0%;*/
}

#forthP .mycontacts {
    float: right;
    width: 250px;
    height: 250px;
}

.contacts {
    margin-left: 20px;
}

.contactme {
    font-size: 40px;
    color: white;
    text-decoration-line: none;
    /*margin-left: 20px*/
}

.contactme:hover {
    text-decoration-line: underline;
    color: coral;
    transition: 1s ease-out;
}

#footer {
    width: 100%;
    height: 10vh;
    align-content: center;
    /*background-color: rgba(16, 230, 183, 0.562);*/
    padding-top: 16px;
}

@media(max-width:1000px) {
#body{
    display:grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 100vh);
    background-color: #444444;
}

}