html {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 16px;
    /*background-color: #444444;*/  /*!!!!!!!!!!!!!!!!!!!  НЕ УДАЛЯТЬ  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    /*line-height: 1.5;*/
    /*margin-top: -15px;*/
    /*height: 100vh;*/
    /*justify-content: center;*/
}


/* ------------------------------


                                        HEADER 


                        ---------------------------------*/

#body {
    width: 100%;
    /*display: grid;
    grid-template-rows: repeat(3)*/
}

#header {
    /*margin-top: 10px;*/
    width: 100%;
    /*height: 50px;*/
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 15px;
    background-color: #444444;
    /*margin-bottom: -20px;*/
}


.ulnav {
    width: 600px;
    height: 90px;
    display: flex;
    align-content: center;
    justify-items: right;
    margin-top: 15px;
    /*margin-left: 60%;*/
}

.ulnav .navli {
    width: 150px;
    display: flex;
    float: right;
    height: 50px;
    border: 3px solid;
    border-radius: 50px;
    border-color: white;
    padding-top: 15px;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
    font-family: Merriweather, serif;
    font-size: 20px;
    line-height: 1.5;
}

.navli .navlink {
    color: rgb(255, 251, 251);
    text-decoration-line: none;
}

.navlink:hover {
    color: red;
    transition: 0.5s ease-out;
}

#main {
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    grid-gap:5px;
    
    /*grid-template-rows: repeat(auto-fit)*/
}

#section {
    background-image: url(../IMG/aboutmecover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    color: white;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width:98%;
    margin-top: 10px;
    /* width: 100%;*/
    /*margin-bottom: 0%;*/
}

.head {
    /*font-size: 45px;*/
    margin-left: 20px;
}

.head .text {
    font-size: 40px;
    color: white;
    text-decoration-line: none;
    /*margin-left: 20px;*/
}

.text:hover {
    text-decoration-line: underline;
    color: coral;
    transition: 1s ease-out;
}

#section .logo {
    float: right;
    width: 250px;
    height: 250px;
    font-size: 40px;
    color: white;
    text-decoration-line: none;
    margin-left: 20px
}

#footer {
    width: 100%;
    height: 5vh;
    align-content: center;
    /*background-color: rgba(16, 230, 183, 0.562);*/
    /*padding-top: 16px;*/
}

/*------------------------------------------------ДОДЕЛАТЬ АДАПТИВНОСТЬ!!!!!!!!!!!!!!!!!!!!!---------------------------------*/

@media (min-width:550px) and (max-width:1100px) {
/*#body{
    display:grid;
    height: fit-content;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6 100vh);
    background-color: #444444;
}*/
 #main{
    display: grid;
    /*grid-template-columns: 100%;*/
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 1fr);
}

#section{margin-top:5px;
display: grid;
grid-template-columns: 1, 100%;
grid-template-rows: 2, 50%;
align-items: center;
justify-items: center;}

#section .logo{
    height: 500px;
    width: 500px;
}

.text{word-wrap: break-word;
width: auto;
height: auto;
/*justify-content: center;
align-content:center;*/}

.head {
width: auto;
justify-items: center;
align-items: center;
}
}

@media (min-width:360px) and (max-width:549px) {
    /*#body{
        display:grid;
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6 100vh);
        background-color: #444444;
    }*/
     #main{
        display: grid;
        /*grid-template-columns: 100%;*/
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 1fr);
    }
    
    #section{margin-top:5px;
    display: grid;
    grid-template-columns: 1, 100%;
    grid-template-rows: 2, 50%;
    align-items: center;
    justify-items: center;}
    
    #section .logo{
        height: 350px;
        width: 350px;
    }
    
    .text{word-wrap: break-word;
    width: auto;
    height: auto;
    /*justify-content: center;
    align-content:center;*/}
    
    .head {
    width: auto;
    justify-items: center;
    align-items: center;
    }
    }