html {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 16px;
    /*background-color: #444444;*/
    background-image: url(../IMG/aboutmecover.jpg);
    /*line-height: 1.5;*/
    /*margin-top: -15px;*/
    /*height: 100vh;*/
    /*justify-content: center;*/
}

#header {
    /*margin-top: 10px;*/
    width: 100%;
    /*height: 50px;*/
    display: flex;
    align-items: center;
    justify-content: right;
    /*margin-top: 15px;*/
    /*background-color: #444444;*/
    /*margin-bottom: -20px;*/
}

.ulnav {
    width: 600px;
    height: 90px;
    display: flex;
    align-content: center;
    justify-items: right;
    /*margin-top: 15px;*/
    /*margin-left: 60%;*/
}

.ulnav .navli {
    width: 150px;
    display: flex;
    float: right;
    height: 50px;
    border: 3px solid;
    border-radius: 50px;
    border-color: white;
    padding-top: 15px;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
    font-family: Merriweather, serif;
    font-size: 20px;
    line-height: 1.5;
}

.navli .navlink {
    color: rgb(255, 251, 251);
    text-decoration-line: none;
}

.navlink:hover {
    color: red;
    transition: 0.5s ease-out;
}

#footer {
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-items: center;
    /*background-color: rgba(16, 230, 183, 0.562);*/
    /*padding-top: 16px;*/
}