html {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 16px;
    /*background-color: #444444;*/
    /*!!!!!!!!!!!!!!!!!!!  НЕ УДАЛЯТЬ  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    /*line-height: 1.5;*/
    /*margin-top: -15px;*/
    /*height: 100vh;*/
    /*justify-content: center;*/
}

#body {
    width: 100%;
    /*display: grid;
    grid-template-rows: repeat(3)*/
}

#header {
    /*margin-top: 10px;*/
    width: 100%;
    /*height: 50px;*/
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 15px;
    background-color: #444444;
    /*margin-bottom: -20px;*/
}

.ulnav {
    width: 600px;
    height: 90px;
    display: flex;
    align-content: center;
    justify-items: right;
    margin-top: 15px;
    /*margin-left: 60%;*/
}

.ulnav .navli {
    width: 150px;
    display: flex;
    float: right;
    height: 50px;
    border: 3px solid;
    border-radius: 50px;
    border-color: white;
    padding-top: 15px;
    justify-content: center;
    margin-right: 10px;
    margin-top: 10px;
    font-family: Merriweather, serif;
    font-size: 20px;
    line-height: 1.5;
}

.navli .navlink {
    color: rgb(255, 251, 251);
    text-decoration-line: none;
}

.navlink:hover {
    color: red;
    transition: 0.5s ease-out;
}

#footer {
    width: 100%;
    height: 5vh;
    align-content: center;
    /*background-color: rgba(16, 230, 183, 0.562);*/
    /*padding-top: 16px;*/
}

#main {
    max-width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 30% 70%;
}

#infoblock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    background-color: crimson;
}

.foto {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.wrap {
    background-color: aquamarine;
    align-content: center;
    justify-content: center;
    /*overflow: auto;
        width: 200px;
        max-height: 200px;
        margin: 30px auto;
        background:
         linear-gradient(white 30%, rgba(255,255,255,0)),
         linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
         radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
         radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
        background-repeat: no-repeat;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
        background-attachment: local, local, scroll, scroll;*/
}

ul .li {
    list-style-type: none;
    margin-left: 5px;
    align-content: baseline;
    justify-content: center;
}

.icon {
    margin-top: 2px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    /*align-items: center;
    justify-items: center;*/
}



#resume{
    width:80%;
    height:100vh;
    justify-self: center;
}


.name{
    text-transform: capitalize
}
    

.article{
    display:grid;
    grid-template-columns: 150px 100px 40px;
    height:20px;
    background-color: red;
    margin-top: 5px;
    align-content: center;
    width: 350px;
}

.article .text {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

.cyf {
    font-family: "PT Sans Caption", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 10px;
}

.meter{
    height: 10px;
    /*border-radius: 50px;*/
    align-self: center;
    margin-left: 10px;
}
